/*--------开始编写----------*/
@charset "utf-8";

.account_right_lit{
    padding: 0px;
    .message_tb{
        padding: 0;
        padding-bottom: 38px;
        table{
            .span_font_weight{
                span{
                    font-weight: bold;
                }
            }
        }
    }
}
