//身份认证
.real_indentity_form {
    padding-top: 24px;
    label{
        padding-right: 6px;
    }
    label+div{
        padding-left: 6px;
    }
    .front_photo,.back_photo{
        width: 160px;
        height: 150px;
        border: 1px solid #F0F0F0;
        text-align: center;
        padding: 12px 10px;
        margin: 6px 10px;
        .front_photo_sm{
            width: 110px;
            height: 80px;
            border: solid 1px #ccc;
            margin: 5px auto;
        }
    }
    .photo_tpl{
        padding-top: 150px;
    }
    
}
