@charset:'utf-8';
@coloraaa:#aaa;
//注册内容样式
.register_content{
    .panel-body{
            padding: 0 15px;
        h4{
            padding: 20px 0;
            color: @coloraaa;
        }
        form{
            .form-group{
                .form_box{
                    input{
                        width: 50%;
                    }
                    p{
                       color: #666666;
                       padding-top: 6px;
                    }
                }
                
            }
        }
        
    }
}
